@use "sass:map";
@use "sass:list";
@use "sass:meta";
@use "../base/mixins";
@use "../base/variables";

.skeleton {
  background-color: #f0f0f0;
  border-radius: 6px;
  animation: skeleton-loading 1.2s infinite ease-in-out;
  opacity: 1;

  &.skeleton-avatar {
    @include mixins.pxRem(width, 24);
    @include mixins.pxRem(height, 24);
  }

  &.skeleton-author-name {
    @include mixins.pxRem(width, 100);
    @include mixins.pxRem(height, 14);
  }

  &.skeleton-title {
    @include mixins.pxRem(width, 350);
    @include mixins.pxRem(height, 24);
    margin-bottom: 8px;
  }

  &.skeleton-description {
    @include mixins.pxRem(width, 350);
    @include mixins.pxRem(height, 20);
    margin-bottom: 20px;
  }

  &.skeleton-date {
    @include mixins.pxRem(width, 60);
    @include mixins.pxRem(height, 12);
  }

  &.skeleton-cover {
    width: 80px;
    height: 53px;

    @include mixins.respond-above(medium) {
      width: 160px;
      height: 107px;
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #f0f0f0;
  }

  50% {
    background-color: #e0e0e0;
  }

  100% {
    background-color: #f0f0f0;
  }
}
