@use "sass:map";
@use "../base/mixins";
@use "../base/variables";

.header {
  @include mixins.pxRem(height, map.get(variables.$layout, header-height));
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: map.get(variables.$color, white);
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: solid 1px map.get(variables.$color, grey-a);
  transition: transform 0.3s ease;

  &.hidden {
    transform: translateY(-100%);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .navbar-brand {
    @include mixins.pxRem(width, 120);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;

    .logo {
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include mixins.pxRem(gap, 16px);

    .nav-item {
      @include mixins.pxRem(margin-left, 12);
    }

    .nav-link {
      @include mixins.pxRem(font-size, map.get(variables.$font-size, sm));
      gap: 8px;
      font-weight: 400;
      color: map.get(variables.$color, grey-b);

      &:hover {
        color: map.get(variables.$color, black);
      }

      &.nav-link-active {
        color: map.get(variables.$color, slate-grey-a);
      }

      &.btn-primary:hover {
        background-color: map.get(variables.$color, slate-grey-a);
        color: map.get(variables.$color, white);
      }
    }
  }
}
