@use "sass:map";
@use "../base/mixins";
@use "../base/variables";

.page-blogs {
  .container {
    @include mixins.pxRem(max-width, 1144px);
    padding: 0 24px;
    margin: 0 auto;
  }

  .content-layout {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 40px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .page-title {
      @include mixins.pxRem(font-size, 42);
      text-align: center;
    }
  }
}
