@use "sass:map";
@use "../base/mixins";
@use "../base/variables";

.page {
  .content-layout {
    display: flex;
    flex-direction: row;
    height: auto;

  }

  .main-content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  .sidebar {
    flex: 0 0 368px;
    padding: 0 40px;
    position: sticky;
    top: calc(map.get(variables.$layout, header-height) + 20px);
    height: calc(100vh - map.get(variables.$layout, footer-height));
    align-self: flex-start;
    border-left: 1px solid map.get(variables.$color, grey-a);
    transition: top 0.3s ease;

    body.header-hidden & {
      top: 20px;
    }

    .recommended-topics {
      .title {
        font-weight: 600;
        @include mixins.pxRem(font-size, 18);
        @include mixins.pxRem(margin-bottom, 16);
      }
    }

    @include mixins.respond-below(large) {
      display: none;
    }

    @include mixins.respond-between(wide, largest) {
      padding: 0 32px;
    }

    @include mixins.respond-between(medium, wide) {
      padding: 0 24px;
    }

    @include mixins.respond-below(medium) {
      padding: 0 16px;
    }
  }
}
